.content > .content-info {
    height: 26px;
    width: 100%;

    -unity-text-align: middle-center;

    font-size: 14px;

    padding-left: 6px;
    padding-right: 6px;

    border-bottom-width: 1px;
    border-bottom-color: rgba(255,255,255,0.15);
}