/* Background overlay */
.skill-tree-root {
    width: 100%;
    height: 100%;
    background-color: rgba(169, 169, 169, 0.4);
    justify-content: center;
}

/* Frame limiting the visible area */
.skill-tree-viewport {
    align-self: center;
    width: 80%;
    height: 80%;
    overflow: hidden;
    background-color: #09051c;
    border-radius: 32px;
}

/* The actual transformable canvas */
.skill-tree-container {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Required for correct mouse-to-zoom calculations */
    transform-origin: 0 0;
}

.skill-tree-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.skill-tree-edge-layer {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* Visual style for each skill node */
.skill-node {
    position: absolute;
    border-width: 2px;
    border-radius: 20%;
    /* Sử dụng opacity thay thế cho tint-color */
    transition-property: scale, background-color, border-color, opacity;
    transition-duration: 0.25s;
}

.skill-node:hover {
    scale: 1.2;
    background-color: #334155;
}

.skill-node:active {
    scale: 0.95;
    background-color: #0ea5e9;
}

/* =======================================
   TRẠNG THÁI CỦA SKILL
======================================= */

/* 1. Trạng thái KHÓA (Lock) - Mờ đục (40%), viền xám tối */
.skill-lock-state {
    opacity: 0.4;
    background-color: rgba(20, 20, 20, 0.8);
    border-color: rgba(100, 100, 100, 0.3);
    scale: 0.7;
}

/* 2. Trạng thái CHO PHÉP (Allow) - Sáng hơn (80%), viền Vàng để mời gọi click */
.skill-allow-state {
    opacity: 0.7;
    background-color: rgba(80, 80, 80, 0.8);
    border-color: #facc15;
    scale: 0.9;
}

/* 3. Trạng thái ĐÃ MỞ (Unlock) - Sáng rõ (100%), có nền xanh dương nhẹ chứng tỏ đã sỡ hữu */
.skill-unlock-state {
    opacity: 1;
    background-color: rgba(14, 165, 233, 0.3);
    border-color: #38bdf8;
    
    scale: 1.2;
}

/* Special style for the root skill node */
.root-skill-node {
    border-color: #38bdf8;
    border-width: 4px;
}